.hero {
  background-color: transparent, $hero-bg-color;
  background-image: url("../img/iphone-hand-1.png"), url("../img/background-1@1x.jpg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 272px, center top -10px;
  background-size: 258px 286px, auto 70%;
  height: 729px;
  padding-top: 85px;
  
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-1@2x.png"), url("../img/background-1@2x.jpg");  
  }
  
  @media (min-resolution: 216dpi), (min-resolution: 2.5dppx) {
    background-image: url("../img/iphone-hand-1@3x.png"), url("../img/background-1@3x.jpg"); 
  }
  
  &__inner {
    position: relative;
    @include container();
    height: 100%;
    
    
  }
  
  &__content-wrap {
    
    @media (min-width: 700px) {
      width: 300px;
      margin: 0;
      float: left;
    }
  }
  
  &__title {
    color: $white; 
    width: 90%;
    max-width: 320px;
    text-align: center;
    @include container();
    
    @media (min-width: 700px) {
      @include font(40px, 48px, $fw-light, $white);
      margin-bottom: 31px;
    }
    
    @media (min-width: 960px) {
      @include font(50px, 60px, $fw-light, $white);
      margin-bottom: 52px;
    }
  }
  
  &__content {
    position: absolute;
    bottom: 0;
    background-color: $hero-bg-color;
    height: 272px;
    width: 100%;
    margin-left: -20px;
    padding-top: 28px;
    
    @media (min-width: 700px) {
      position: relative;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
  }
  
  &__content-text {
    @include font($fs-5, $lh-base, $fw-light, $white);
    text-align: center;
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    
    @media (min-width: 700px) {
      font-size: $fs-4;
      width: 100%;
    }
  }
  
  @media (min-width: 700px) {
    background-image: url("../img/iphone-hand-2@1x.png"), url("../img/background-1@1x.jpg");
    background-position: left 50% bottom 0, center center;
    background-size: 700px 545px, cover;
    padding-top: 204px;
    
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-2@2x.png"), url("../img/background-1@2x.jpg");
    }
    
    @media (min-resolution: 216dpi), (min-resolution: 2.5dppx) {
      background-image: url("../img/iphone-hand-2@2x.png"), url("../img/background-1@3x.jpg");
    }
  }
  
  @media (min-width: 960px) {
    height: 854px;
    background-image: url("../img/iphone-hand-3@1x.png"), url("../img/background-2@1x.jpg");
    background-position: left 80% bottom 0, center center;
    background-size: 1050px 645px, cover;
    padding-top: 217px;
    
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-3@2x.png"), url("../img/background-2@2x.jpg");
    }
    
  }
}