.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color $time-animation-2, border-color $time-animation-2;
  
  &__inner {
    @include container();
    display: flex;
    justify-content: space-between;
  }
  
  &__navbar { 
    position: relative;
    padding: 18px 0;
    background-color: $menu-color;
    border-bottom: 1px solid transparent;
    
    &--active {
      background-color: $menu-color-active;
      border-bottom-color: $black;
    }
    
    @media (min-width: 700px) {
      padding-top: 32px;
      padding-bottom: 36px;
    }
  }
  
  &__nav-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    margin-top: 1px;
    overflow: hidden;
    height: 0;
    
    & .main-nav {
      transform: translateY(-1000px);
      transition: transform 0s;
    }
    
    &--drop-down {
      height: auto;
      
      & .main-nav {
        transform: translateY(0);
        transition: transform .2s ease-out;
      }
    }
    
    @media (min-width: 960px) {
      position: static;
      height: auto;
      width: 620px;
      display: flex;
      align-items: center;
      
      & .main-nav {
        transform: translateY(0);
      }
    }
  }
  
  
}