@mixin font($fs: $fs-base, $lh: $lh-base, $fw: $fw-normal, $color: $color-base) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin container() {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  
  @media (min-width: 700px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}