.apps-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.apps-list__item {
  width: 60px;
  height: 60px;
  background-image: url("../img/sprite.png");
}

.apps-list__item--ios {
  background-position: -10px -77px;
}

.apps-list__item--androin {
  background-position: -10px -10px;
}

.apps-list__item--widnows {
  background-position: -164px;
}
