.btn-dowload {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 15px 0 16px;

  text-align: center;
  text-decoration: none;

  border: 3px solid $white; 
  border-radius: 28px;

  transition: background-color 0.2s, color 0.2s;

  @include font($fs-4, $fs-4, $fw-bold, $white);

  &:hover {
    color: $link-color;

    background-color: $white;
  }

  &:active {
    color: $link-color-active;
  }

  @media (min-width: 700px) {
    margin: 0;
  }

  @media (min-width: 960px) {
    width: 300px;

    @include font($fs-3, $fs-4, $fw-bold, $white);
  }
}
