.copyright {
  @include font($lh: 50px);

  &__link {
    display: inline-block;
    width: 27px;
    height: 33px;
    margin: 0 10px;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center center;

    &--glukhanko, &--htmlacademy {
      fill: $link-color;

      &:hover {
        fill: $link-color-hover;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: 960px) {
    @include font($fs-4, 50px);
  }
}
