.hero {
  height: 729px;
  padding-top: 85px;

  background-color: transparent, $hero-bg-color;
  background-image: url("../img/iphone-hand-1.png"), url("../img/background-1@1x.jpg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 272px, center top -10px;
  background-size: 258px 286px, auto 70%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-1@2x.png"), url("../img/background-1@2x.jpg");
  }

  @media (min-resolution: 216dpi), (min-resolution: 2.5dppx) {
    background-image: url("../img/iphone-hand-1@3x.png"), url("../img/background-1@3x.jpg");
  }

  &__inner {
    position: relative;

    height: 100%;

    @include container();
  }

  &__content-wrap {
    @media (min-width: 700px) {
      float: left;
      width: 300px;
      margin: 0;
    }
  }

  &__title {
    width: 90%;
    max-width: 320px;

    text-align: center;
    color: $white;

    @include container();

    @media (min-width: 700px) {
      margin-bottom: 31px;

      @include font(40px, 48px, $fw-light, $white);
    }

    @media (min-width: 960px) {
      margin-bottom: 52px;

      @include font(50px, 60px, $fw-light, $white);
    }
  }

  &__content {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 272px;
    margin-left: -20px;
    padding-top: 28px;

    background-color: $hero-bg-color;

    @media (min-width: 700px) {
      position: relative;

      margin: 0;
      padding: 0;

      background-color: transparent;
    }
  }

  &__content-text {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;

    text-align: center;

    @include font($fs-5, $lh-base, $fw-light, $white);

    @media (min-width: 700px) {
      width: 100%;

      font-size: $fs-4;
    }
  }

  @media (min-width: 700px) {
    padding-top: 204px;

    background-image: url("../img/iphone-hand-2@1x.png"), url("../img/background-1@1x.jpg");
    background-position: left 50% bottom 0, center center;
    background-size: 700px 545px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-2@2x.png"), url("../img/background-1@2x.jpg");
    }

    @media (min-resolution: 216dpi), (min-resolution: 2.5dppx) {
      background-image: url("../img/iphone-hand-2@2x.png"), url("../img/background-1@3x.jpg");
    }
  }

  @media (min-width: 960px) {
    height: 854px;
    padding-top: 217px;

    background-image: url("../img/iphone-hand-3@1x.png"), url("../img/background-2@1x.jpg");
    background-position: left 80% bottom 0, center center;
    background-size: 1050px 645px, cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-3@2x.png"), url("../img/background-2@2x.jpg");
    }
  }
}
