.logo {
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    @include font($fs-1, $lh-caption, $fw-normal, $white );
  }

  &__img {
    width: 74px;
    height: 24px;

    @media (min-width: 700px) {
      display: inline-block;
      width: 145px;
      height: 40px;
      margin-right: 10px;

      vertical-align: bottom;
    }

    @media (min-width: 960px) {
      width: 146px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  .page-footer &__link {
    color: $blue-2;
  }
}
