.map {
  position: relative;

  width: 100%;
  height: 200px;

  &__container {
    width: 100%;
    height: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 20;

    width: 100%;
    height: 11vw;

    background-image: linear-gradient(to right top, transparent 50%, $white 50%),
    linear-gradient(to left top, transparent 50%, $white 50%);
    background-repeat: no-repeat;
    background-position: left  top, right top;
    background-size: 50.2% 100%;

    @media (min-width: 960px) {
      height: 125px;
    }
  }

  @media (min-width: 700px) {
    height: 380px;
  }

  @media (min-width: 960px) {
    height: 520px;
  }
}
