.main-nav {
  & ul {
    margin: 0;
    padding: 0;

    list-style: none;

    @media (min-width: 960px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__link {
    display: block;
    padding: 22px 0;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    background-color: $menu-color-active;
    border-top: 1px solid $blue-3;
    border-bottom: 1px solid $black;
    
    cursor: pointer;

    transition: color $time-animation-1;

    @include font($fs-4, $fs-4, $fw-bold, inherit);

    @media (min-width: 960px) {
      display: inline;
      padding: 0;

      text-transform: capitalize;

      background-color: transparent;
      border: none;

      @include font($fs-4, fs-4, $fw-normal, inherit);
    }
  }

  &__item {
    position: relative;

    color: $nav-link-color;
    
    
    &--current a {
      color: $nav-link-color-current;

      cursor: default;

      @media (min-width: 960px) {
        color: $nav-link-color;
      }
    }

    &:hover {
      color: $nav-link-color-hover;

      @media (min-width: 960px) {
        color: $nav-link-color;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -10px;
          left: 0;

          height: 3px;

          background-color: $nav-link-color;
        }
      }
    }

    &:active {
      color: $nav-link-color-active;
    }
  }

  @media (min-width: 960px) {
    flex-grow: 1;
  }
}
