.round-diagram {
  display: none;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 50px;

    background: url("../img/bg-round-diagram.png") no-repeat left center;
    background-origin: content-box;

    @include container();

    & > * {
      width: 50%;

      @media (min-width: 960px) {
        width: 575px;
      }
    }

    @media (min-width: 960px) {
      padding-top: 122px;
      padding-bottom: 116px;

      background-image: url("../img/bg-round-diagram-960.png");
      background-position: left -92px;

      & span {
        display: none;
      }
    }
  }
  &__title {
    margin-bottom: 10px;

    @include font(30px, 36px, $fw-bold, $black);

    @media (min-width: 960px) {
      margin-bottom: 22px;
    }
  }

  &__text {
    min-height: ($lh-base * 4);
    margin-bottom: 10px;

    @include font();

    @media (min-width: 960px) {
      min-height: 120px;
      margin-bottom: 3px;

      @include font($fs-4, 30px);
    }
  }

  &__link {
    @include font($color: $link-color);

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }

    @media (min-width: 960px) {
      font-size: $fs-4;
    }
  }

  @media (min-width: 700px) {
    display: block;
  }

  @media (min-width: 960px) {
    background-color: $gray-bg-color;
  }
}
